<div class="container">
  <p id="notice"><%= notice %></p>

  <h2>タスク一覧</h2>
  <%= link_to "タスクを作成する", new_task_path, class: 'btn-default', style: "float: right;" %>

  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th class="text-center">依頼者</th>
          <th class="text-center">タイトル</th>
          <th class="text-center">内容</th>
          <th class="text-center">期限</th>
          <th class="text-center">担当者</th>
          <th class="text-center">ステータス</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td class="text-left"><%= task.user.name %></td>
            <td class="text-left"><%= link_to task do %><%= task.title %><% end %></td>
            <td class="text-left"><%= task.content %></td>
            <td class="text-center"><%= task.deadline.strftime("%Y/%m/%d %H:%M") %></td>
            <td class="text-left"><%= task.charge.name %></td>
            <td class="text-center"><%= task.status %></td>
            <td><%= link_to '', edit_task_path(task), class: "fa fa-pencil fa-lg" %></td>
            <td><%= link_to '', task, class: "fa fa-trash-o fa-lg", method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
  </div>
</div>
