<div class="container">
  <p id="notice"><%= notice %></p>

  <h2>タスク依頼一覧</h2>
  <%= link_to '新規にタスクを依頼する', new_submit_request_path, class: 'btn-default', style: "float: right;" %>

  <div class="table-responsive">
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th class="text-center">タスクタイトル</th>
          <th class="text-center">メッセージ</th>
          <th class="text-center">依頼先</th>
          <th class="text-center">ステータス</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @submit_requests.each do |submit_request| %>
          <tr>
            <td class="text-left"><%= link_to submit_request do %><%= submit_request.task.title %><% end %></td>
            <td class="text-left"><%= submit_request.message %></td>
            <td class="text-left"><%= User.find(submit_request.request_user_id).name %></td>
            <td class="text-center"><%= submit_request.status %></td>
            <td><%= link_to '', edit_submit_request_path(submit_request), class: "fa fa-pencil fa-lg" %></td>
            <td><%= link_to '', submit_request, class: "fa fa-trash-o fa-lg", method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
