<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="wrapper col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      <dl>
        <dt class="text-left"><strong>依頼元</strong></dt>
        <dd class="text-left"><%= @submit_request.user.name %></dd><br>
        <dt class="text-left"><strong>タスクタイトル</strong></dt>
        <dd class="text-left"><%= @submit_request.task.title %></dd><br>
        <dt class="text-left"><strong>メッセージ</strong></dt>
        <dd class="text-left"><%= @submit_request.message %></dd><br>
        <dt class="text-left"><strong>依頼先</strong></dt>
        <dd class="text-left"><%= User.find(@submit_request.request_user_id).name %></dd><br>
        <dt class="text-left"><strong>ステータス</strong><dt>
        <dd class="text-left"><%= @submit_request.status %></dd><br>
        <% if @submit_request.user.id == current_user.id && @submit_request.task.charge_id==current_user.id %>
          <%= link_to '編集', edit_submit_request_path(@submit_request) %> |
        <% end %>
        <%= link_to '戻る', :back %>
      </dl>
    </div>
  </div>
</div>
